<!DOCTYPE html>
<html ng-app='gifvsgif'>
  <head>
    <meta charset="utf-8" />
    <title>Gif vs Gif</title>
    <link rel="stylesheet" type="text/css" href="./foundation/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Lora|Roboto|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- production -->
    <script src="./vendor/angular.min.js"></script>

    <!-- local -->
    <!-- // <script src="/scripts/angular/angular.js"></script> -->
    <!-- // <script src="/scripts/foundation/angular.js"></script> -->
    <script src="app/app.js"></script>
    <script src="./app/main.js"></script>
  </head>

  <body>
    <div class="topSection">
      <div class="row">
        <div class="small-10 columns">
          <h3 class="title">Gif vs Gif<h3>
          <p class="poweredBy">A Worldwide Poll on the Pronunciation of Gif</p>
          <!-- <p class="poweredBy">Powered by the Internet</p> -->
        </div>
        <div class="small-2 columns">
          <!-- <h4 class="">login to vote</h4> -->
          <a href="/auth/github"><i class="fa fa-github-square medium gh-login"></i></a>
        </div>
      </div>
    </div>

    <div id="main" class="row">
      <div class="small-12 text-center columns">


        <div class="row" ng-controller="MainController">
          <div class="small-5 columns">
            <h1 class="count">{{ softGCount }}</h1>
            <h1>gif</h1>
            <p class="phonetic">( ' j - if ' )<br>
              Pronounced with a soft 'g'<br>
              as in 'giraffe'</p>
            <a class="button voteBut" ng-click="voteSoft()">Vote</a>
          </div>

          <div class="small-2 columns versus">
            <h4>vs</h4>
          </div>

          <div class="small-5 columns">
            <h1 class="count">{{ hardGCount }}</h1>
            <h1>gif</h1>
            <p class="phonetic">( ' g - if ' )<br>
              Pronounced with a hard 'g'<br>
              as in 'goat'</p>

            <!-- <button class="voteBut" ng-click="voteSoft()">Gif</button> -->
            <a class="button voteBut" ng-click="voteHard()">Vote</a>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="bottomSection"></div> -->

  </body>
</html>



    <!-- // <script src="app/auth/auth.js"></script>
    // <script src="app/links/links.js"></script>
    // <script src="app/shorten/shorten.js"></script>
    // <script src="app/services/services.js"></script> -->