/*Basic stylings*/
html {
  max-height: 100%;
}
body {
  font-family: "Open Sans", serif;

}

p {
  font-family: "Open Sans";
}

h1, h2, h3, h4 {
  font-family: "Lora", sans-serif;
  margin-bottom: 0;
}

a {
  color: #333333;
}

i.medium {
  font-size: 3em;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

i.medium:hover {
  color: #CCCCCC;
}

.title {
  color: #333333;
  padding-top: 5px;
}

.topSection {
  background-color: #fff;
  min-height: 10%;
}

.topSection .poweredBy {
  vertical-align: middle;
  color: #CCCCCC;
}

.gh-login {
  float: right;
  display: inline;
  margin-top: 22px;
}

#main {
  margin-top: 7%;
  min-height: 70%;
  /*margin-bottom: 3%;*/
}

.bottomSection {
  background-color: #3E606F;
  min-height: 10%;
}


.voteBut {
  border-radius: 8px;
  background-color: #91AA9D;
  border-color: none;
  border-bottom: solid 3px #333333;
}

.voteBut:focus {
  outline: none;
}
.voteBut:hover {
  background-color: #B56D78;
  color: #fff;
}

.phonetic {
  color: #CCCCCC;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.versus {
  margin-top: 190px;
  vertical-align: bottom;
  font-size: 1em;
}


.count {
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 20px;
}